/* ---------------------------------------------------------- */
/* base color  */
/* ---------------------------------------------------------- */
$base-black-color: #151515;

/* ---------------------------------------------------------- */
/* base value  */
/* ---------------------------------------------------------- */
$media-sp: 750;
$media-pc: 751;
$design-pc: 1440;
$design-sp: 320;
$viewport-width: 1024;

/* ---------------------------------------------------------- */
/* font family  */
/* ---------------------------------------------------------- */
$font-family-base: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, "メイリオ", Meiryo, sans-serif;