.entrie {
  &__img {
    height: 400px;
    overflow: hidden;
    position: relative;
    @include pc() {
      margin-bottom: 20px;
    }
    @include sp() {
      margin-bottom: vw(20);
    }
    & > img {
      width: 100%;
      height: auto;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
    }
  }
  &__link {
    display: block;
  }
  &__ttl {
    text-align: left;
    @include pc() {
      font-size: 28px;
      margin-top: 40px;
    }
    @include sp() {
      font-size: vw(28);
      margin-top: vw(40);
    }
  }
  &__date {
    text-align: right;
  }
  &__micropost {
    @include pc() {
      margin-bottom: 40px;
    }
    @include sp() {
      margin-bottom: vw(40);
    }
  }
  &__microposts {
    padding-left: 0;
    list-style-type: none;
    & > li {
      @include pc() {
        margin-bottom: 30px;
      }
      @include sp() {
        margin-bottom: vw(30);
      }
    }
    &-date {
      @include pc() {
        font-size: 12px;
        line-height: (14/12);
      }
      @include sp() {
        font-size: vw(12);
        line-height: (14/12);
      }
    }
  }
}
